<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1>Blog</h1>
					<hr class="small">
					<span class="subheading">I write about stuffs I'm learning</span>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{#each data.posts.results}}
				<div class="post-preview">
					<a href="{{postUrl slug}}">
						<h2 class="post-title">
							{{{title}}}
						</h2>
						<h3 class="post-subtitle">
						{{{content.brief}}}
						</h3>
					</a>
					<p class="post-meta">Written by  {{#if author.name.first}} <a href="/">{{author.name.first}} {{author.name.last}}</a>{{/if}} on  {{date format='DD-MM-YYYY'}}</p>
				</div>
				<hr>
			{{/each}}
		</div>
	</div>
	
	{{>pagination}}
</div>
