<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{{{cloudinaryUrl data.post.image crop='fit' }}}') ">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<h1>{{data.post.title}}</h1>					
					<h2 class="subheading">{{{data.post.content.brief}}}</h2>
					<span class="meta">Posted by <a href="#"> {{data.post.author.name.first}} {{data.post.author.name.last}}</a> {{date format='DD MM YYYY'}}</span>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<article>
				<div class="post">
					{{{data.post.content.extended}}}
				</div>
			</article>
		</div>
	</div>
</div>
